<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/background css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewall page</title>
   
</head>

  <body>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          <form action="http://127.0.0.1:8000/employee/signuppage/" method="post">
            <center><marquee behavior="scroll" direction="left"><h4>EMP APP</h4></marquee></center>
            <table class="table table-borderless">
                <tr>
                    <td><h6>EMPLOYEE CODE</h6></td>
                    <td><input name="Employee_code" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>NAME</h6></td>
                    <td><input  name="name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>ADDRESS</h6></td>
                    <td><input  name="address" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>MOBILE NO</h6></td>
                    <td><input  name="mobile_no" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>SALARY</h6></td>
                    <td><input  name="salary" type="number" class="form-control"></td>
                </tr>

                <tr>
                    <td><h6>USERNAME</h6></td>
                    <td><input  name="username" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>PASSWORD</h6></td>
                    <td><input  name="password" type="password" class="form-control"></td>
                </tr>
               
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary">SIGN UP</button></center></td>
                </tr>
            </table>
            <center><a href="http://127.0.0.1:8000/employee/loginview/">Click here to log in</a></center> 
          </form>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
</div>  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>          
</body>
</html>

